.Person {
  width: 60%;
  margin: 16px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
}

.Person button {
  display: block;
  margin: 1rem auto;
  background-color: red;
  font-size: 1rem;
  color: white;
}

.Person button:hover {
  transform: scale(1.1);
}

.Person button:active {
  transform: scale(1);
}

/* @media (min-width: 500px) {
  .Person {
    width: 450px;
  }
} */
