.App {
  text-align: center;
}

.show-names-btn {
  background-color: green;
  color: white;
  font: inherit;
  border: 3px solid black;
  padding: 8px;
  cursor: pointer;
  display: block;
  margin: 1rem auto;
}

.show-names-btn-red {
  background-color: red;
  color: white;
  font: inherit;
  border: 3px solid black;
  padding: 8px;
  cursor: pointer;
  display: block;
  margin: 1rem auto;
}

.reset-btn {
  background-color: red;
  color: white;
  font: inherit;
  border: 3px solid black;
  padding: 8px;
  cursor: pointer;
}
